# Data Structures
---

### **$$List$$**

1. **list.append(x)** : Adds a single element to the end of the list

In [37]:
a= [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

2. **list.extend(iterable)**: Adds all elements from another iterable (list, tuple, string etc.) to the list.

In [38]:
a=[1,2]
a.extend([3,4])  # list
print(a)

[1, 2, 3, 4]

In [39]:
b= [5,6]
b.extend((1,2,3))  # tuple
print(b)

[5, 6, 1, 2, 3]

3. **list.insert(i,x)**: Inserts an element at a specific index (i: index) without replacing the existing elements.

In [40]:
a= [1,3]
a.insert(1,2)  # insert 2 at index 1
print(a)

[1, 2, 3]

In [41]:
a = ['apple', 'banana', 'cherry']   
a.insert(2, 'orange')
print(a)

['apple', 'banana', 'orange', 'cherry']

4. **list.remove(x)**: Remove the first occurance of the value from the list

In [42]:
a =[1,2,3,4,2]
a.remove(2)
print(a)

[1, 3, 4, 2]

5. **list.pop([i])**: Removes and returns the element at index 'i'. If no index is given then removes the last item of the list.

In [43]:
a = [10, 20, 30, 40, 50]
a.pop(2)   # print 30
print(a)

[10, 20, 40, 50]

6. **list.clear()**: Removes all the items making list empty.

In [44]:
a=[1,2,3,4,5]
a.clear()
print(a)

[]

7. **list.index(x)**: Returns the index of the first occurance of x. Raises error if not found.

In [45]:
a=[1,2,3,4,5]
print(a.index(3))

2

In [46]:
print(a.index(6)) # give error

ValueError: 6 is not in list

8. **list.count(x)**: Return the number of times a value appear in the list.

In [ ]:
a=[1,2,3,4,3,5,6,3,7,8]
print(a.count(3))

3

9. **list.sort(key=None, reverse=False)**: Sorts the list in place (changes the original list)

In [ ]:
a=[5,4,7,2,1,9,8]
a.sort()
print(a)

[1, 2, 4, 5, 7, 8, 9]

In [47]:
a=['kashish', 'karan', 'sahil', 'aman']
a.sort()
print(a)

['aman', 'karan', 'kashish', 'sahil']

10. **list.reverse()**: Reversed the list order in place.

In [ ]:
a=[1,2,5,3,4,7]
a.reverse()
print(a)

[7, 4, 3, 5, 2, 1]

11. **list.copy**: Returns a shallow copy of the list.

In [62]:
a = [1, 2, 3]
b = a.copy()
print(b)

[1, 2, 3]

In [65]:
b[0] =10

In [66]:
print(a)
print(b)

[1, 2, 3]
[10, 2, 3, 4]

## Copy:
There are two types of copy in python- 1. shallow copy, 2. Deep copy

* Shallow copy with immutable objects (like ints, strings, tuples) → no problem, originals don’t change.

* Shallow copy with mutable objects (like lists, dicts, sets inside list) → both copies share inner objects, so modifying inside them affects both.

* A deep copy creates a completely independent copy of the object and all nested objects. Changes in the copy do not affect the original.

In [68]:
a = [[1, 2], [3, 4]]
b = a.copy()

b[0][0] = 99   # modify inside nested list
print(a)       # will change 
print(b)       

# 'a changes too because the inner lists [1,2] and [3,4] are mutable objects

[[99, 2], [3, 4]]
[[99, 2], [3, 4]]

---

**Stack** : A stack is a linear data structure that follows the Last In First Out (LIFO) principle. This means that the last element added to the stack is the first one to remove.

In [1]:
stack = [3, 4, 5]
stack.append(6)   # add 6 on top
stack.append(7)   # add 7 on top
print(stack)      

stack.pop()

[3, 4, 5, 6, 7]

7

**Queue**:A queue in data structures is a linear data structure that follows the First-In, First-Out (FIFO) principle. This means the element that is inserted first into the queue is the first one to be removed.

**collections.deque** :  is a class found within Python's collections module that implements a double-ended queue. This data structure allows for efficient addition and removal of elements from both ends

In [6]:
from collections import deque

queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")    
queue.append("Graham")   
print(queue)

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [7]:
queue.popleft()          # Eric leaves first
print(queue)

deque(['John', 'Michael', 'Terry', 'Graham'])

In [8]:
queue.pop()
print(queue)

deque(['John', 'Michael', 'Terry'])

**List Comprehensions**: It is a concise way to create lists. Instead of using loops like for with append(), we can build a list in a single line.

In [9]:
## Syntax
# [expression for item in iterable if condition]

In [11]:
# Sauare Numbers (basic loop way)

squares =[]
for i in range(5):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16]

In [12]:
# With list comprehension

squares= [i**2 for i in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [13]:
# Even Numbers

even_numbers =[i for i in range(10) if i%2 ==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [14]:
# String Example

words =['apple', 'banana', 'mango', 'cherry', 'grapes', 'lichi', 'kiwi']
short_words = [w for w in words if len(w) <= 5]
print(short_words)

['apple', 'mango', 'lichi', 'kiwi']

In [15]:
# Filtering non neagtive numbers

[x for x in [-4,-2,0,2,4,6,-7] if x>=0]

[0, 2, 4, 6]

In [ ]:
# Remove spaces from string
# The strip() method removes left and right whitespace
fruits = ['  banana', '  loganberry ', 'passion fruit  ']
[fruit.strip() for fruit in fruits]

['banana', 'loganberry', 'passion fruit']

In [17]:
# create pairs
[(x,x**2) for x in range(10)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [18]:
# Falttened a 2D list

vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
# Combine two lists if not equal
[(x,y) for x in [1,2,3] for y in [4,1,3] if x!=y]

[(1, 4), (1, 3), (2, 4), (2, 1), (2, 3), (3, 4), (3, 1)]

In [20]:
# longer version

combs=[]
for x in [1,2,3]:
    for y in [4,1,3]:
        if x!=y:
            combs.append((x,y))

**Nested List Comprehensions**: A nested list comprehhension means one list comprehension inside another.

In [24]:
# Transpose of a Matrix
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [25]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

**del Statement**: del is used to delete by index, not by value. Unline pop(), it does not return the removed element.

In [28]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]  
print(a)

[1, 66.25, 333, 333, 1234.5]

In [29]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[2:4]  
print(a)

[-1, 1, 333, 1234.5]

In [30]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[:]  
print(a)

[]

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a
print(a)  # name error

NameError: name 'a' is not defined

---

## Tuples & Sequences

Lists and strings are both sequences in python(they support indexing, slicing etc.). Another type of sequence is the tuple.

**Tuple**: A tuple is a collection of ordered, immutable items in python.
* Ordered -> the items have a fixed position(index). 
* Immutable -> We cannot change, add, or remove the items once the tuple is created.

In [ ]:
# How to create tuple
tuple = (1,2,3,4)   # using parenthesis
tuple_1 = (5,)      # single element tuple 
tuple_2 = 6,7,8     # tuple without parenthesis

In [40]:
print(tuple)
print(tuple_1)
print(tuple_2)

(1, 2, 3, 4)
(5,)
(6, 7, 8)

In [42]:
# this is not a single tuple
not_tuple = (5) 
print(type(not_tuple))

<class 'int'>

In [43]:
t = 1234, 63829, 'hello', '!'
t

(1234, 63829, 'hello', '!')

In [44]:
type(t)

tuple

In [46]:
t[0] # print the first item from tuple

1234

**Nested Tuple**: A nested tuple is a tuple that containes a tuple inside it.

In [ ]:
u = t, (1, 2, 3, 4, 5)
u

((1234, 63829, 'hello', '!'), (1, 2, 3, 4, 5))

In [48]:
# we cannot change the tuple elements
t[0] = 8888

TypeError: 'tuple' object does not support item assignment

##### Tuple can contain mutable things like lists. We can change the lists, but not the tuple structre itself.

In [49]:
v = ([1,2,3], [3,2,1])
v

([1, 2, 3], [3, 2, 1])

In [50]:
v[0][1] = 5

In [51]:
print(v)

([1, 5, 3], [3, 2, 1])

In [54]:
# Empty tuple
empty = ()

# Single element tuple
singleton = 'hello',

print(empty)
print(singleton)

()
('hello',)

##### Tuple Paking and Unpacking

In [57]:
t= 1234, 53849, 'hello!' # packing

In [ ]:
x, y, z = t
print(x)
print(y)
print(z)

1234
53849
hello!

---

**Sets**: A set is an unordered collection with no duplicates.

In [73]:
# Empty set
empty_set = set()
empty_set

set()

In [58]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'orange', 'apple', 'pear', 'banana'}

In [59]:
'orange' in basket

True

In [60]:
a = set('abracadabra')
b = set('alacazam')

In [61]:
print(a)
print(b)

{'c', 'a', 'b', 'r', 'd'}
{'z', 'c', 'a', 'm', 'l'}

In [62]:
# letters in a but not in b
a-b

{'b', 'd', 'r'}

In [63]:
# union
a|b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [65]:
a&b # intersection

{'a', 'c'}

In [66]:
a^b  # letters in both a and b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [67]:
# Set comprehension
a = {x for x in 'abracadabra' if x not in 'abc'}

---

**Dictionary**: A dictionary is a collection of key:value pairs. Unlike lists or tuples, dictionaries are not indexed by numbers- they are indexed by keys. Keys can be any immutable type:
* String: "name"
* Nmbers: 42
* Tuples.

Keys cannot be list or mutable types. 

Values can be anything(mutable or immutable)

In [71]:
# Empty Dictionary

d={}

In [74]:
tel={'jack': 2029, 'shape': 6382}

In [77]:
tel['guido'] =5379

In [78]:
tel

{'jack': 2029, 'shape': 6382, 'guido': 5379}

In [79]:
tel['jack']

2029

In [81]:
# Deleting Items 
del tel['shape']  # removing key

In [82]:
tel['irv'] = 4132
tel

{'jack': 2029, 'guido': 5379, 'irv': 4132}

In [83]:
# Listing Keys (list of all the keys)
list(tel)

['jack', 'guido', 'irv']

In [87]:
sorted(tel)  # get a key in alphabetical order

['guido', 'irv', 'jack']

* Checking Keys

In [88]:
'guido' in tel

True

In [90]:
'shape' in tel

False