# Data Structures
---

### **$$List$$**

1. **list.append(x)** : Adds a single element to the end of the list

In [37]:
a= [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

2. **list.extend(iterable)**: Adds all elements from another iterable (list, tuple, string etc.) to the list.

In [38]:
a=[1,2]
a.extend([3,4])  # list
print(a)

[1, 2, 3, 4]

In [39]:
b= [5,6]
b.extend((1,2,3))  # tuple
print(b)

[5, 6, 1, 2, 3]

3. **list.insert(i,x)**: Inserts an element at a specific index (i: index) without replacing the existing elements.

In [40]:
a= [1,3]
a.insert(1,2)  # insert 2 at index 1
print(a)

[1, 2, 3]

In [41]:
a = ['apple', 'banana', 'cherry']   
a.insert(2, 'orange')
print(a)

['apple', 'banana', 'orange', 'cherry']

4. **list.remove(x)**: Remove the first occurance of the value from the list

In [42]:
a =[1,2,3,4,2]
a.remove(2)
print(a)

[1, 3, 4, 2]

5. **list.pop([i])**: Removes and returns the element at index 'i'. If no index is given then removes the last item of the list.

In [43]:
a = [10, 20, 30, 40, 50]
a.pop(2)   # print 30
print(a)

[10, 20, 40, 50]

6. **list.clear()**: Removes all the items making list empty.

In [44]:
a=[1,2,3,4,5]
a.clear()
print(a)

[]

7. **list.index(x)**: Returns the index of the first occurance of x. Raises error if not found.

In [45]:
a=[1,2,3,4,5]
print(a.index(3))

2

In [46]:
print(a.index(6)) # give error

ValueError: 6 is not in list

8. **list.count(x)**: Return the number of times a value appear in the list.

In [ ]:
a=[1,2,3,4,3,5,6,3,7,8]
print(a.count(3))

3

9. **list.sort(key=None, reverse=False)**: Sorts the list in place (changes the original list)

In [ ]:
a=[5,4,7,2,1,9,8]
a.sort()
print(a)

[1, 2, 4, 5, 7, 8, 9]

In [47]:
a=['kashish', 'karan', 'sahil', 'aman']
a.sort()
print(a)

['aman', 'karan', 'kashish', 'sahil']

10. **list.reverse()**: Reversed the list order in place.

In [ ]:
a=[1,2,5,3,4,7]
a.reverse()
print(a)

[7, 4, 3, 5, 2, 1]

11. **list.copy**: Returns a shallow copy of the list.

In [62]:
a = [1, 2, 3]
b = a.copy()
print(b)

[1, 2, 3]

In [65]:
b[0] =10

In [66]:
print(a)
print(b)

[1, 2, 3]
[10, 2, 3, 4]

## Copy:
There are two types of copy in python- 1. shallow copy, 2. Deep copy

* Shallow copy with immutable objects (like ints, strings, tuples) → no problem, originals don’t change.

* Shallow copy with mutable objects (like lists, dicts, sets inside list) → both copies share inner objects, so modifying inside them affects both.

In [68]:
a = [[1, 2], [3, 4]]
b = a.copy()

b[0][0] = 99   # modify inside nested list
print(a)       # will change 
print(b)       

# 'a changes too because the inner lists [1,2] and [3,4] are mutable objects

[[99, 2], [3, 4]]
[[99, 2], [3, 4]]